@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Alegreya";
  src: url("/fonts/AlegreyaSansSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-fancy {
  font-family: "Alegreya", sans-serif;
}
